<h1 class="code highlight" lang="plaintext">커뮤니티 베스트</h1>
<p><strong>커뮤니티 베스트 글을 편하게 보기 위한 목적으로 최대한 심플하게 제작되었습니다.</strong></p>
<p>아래 기능을 지원합니다.</p>
<ul>
   <li>베스트 글을 한 화면에 모아 보기</li>
   <li>클릭 한 번으로 다음 게시물 보기</li>
   <li>관심 있는 글 보관하기</li>
   <li>검색하기</li>
   <li>광고가 없습니다.</li>
</ul>
<div class="common_contents_inner">
   Copyright 2020 Jay<br>
   e-Mail: <a href="mailto:akhyulnu@gmail.com" target="_blank">akhyulnu@gmail.com</a>
</div>
